header{
    display: flex;
    position: static;
    justify-content: center ;
    color: rgb(179, 89, 89);
}

.search-box{
    display: flex;
    position: static;
    justify-content: center;
}

.text-search{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    display: flex;
    max-width: fit-content;
    border: 1px solid rgb(179, 89, 89);
    border-radius: 5px 0 0 5px;
    background: rgb(240, 223, 224);
    transition: background 0.25s, box-shadow 25s;
}

.text-search:focus{
    background: white;
    box-shadow: 0 0 2px rgb(189, 133, 139);
}

.color{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    max-width: fit-content;
    border: 1px solid rgb(179, 89, 89);
    border-radius: 0px;
    background: rgb(240, 223, 224);
    transition: background 0.25s, box-shadow 25s;
}

.color:hover{
    background: white;
    box-shadow: 0 0 2px rgb(189, 133, 139);
}

.search-button{
    width: 50px;
    background: rgb(179, 89, 89);
    color: white;
    outline: none;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

.page-buttons{
    display: flex;
    position: static;
    justify-content: center;
}

.previous-page{
    background: rgb(240, 223, 224);
    border: 1px solid rgb(179, 89, 89);
    outline: none;
    align-items: center;
    max-width: fit-content;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}

.next-page{
    background: rgb(240, 223, 224);
    border: 1px solid rgb(179, 89, 89);
    outline: none;
    align-items: center;
    max-width: fit-content;
    border-radius: 5px 5px 5px 5px;
}

.creator{
    position: static;
    justify-content: end;
}

#display-photo{
    width: 40px;
}

