body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: monospace;
}

h1 {
    font-size: 2.5em;
    color: rgb(179, 89, 89);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 15px;
    position: static;
    justify-content: center;
}

.search-box {
    display: flex;
    position: static;
    justify-content: center;
}

.text-search {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    display: flex;
    max-width: fit-content;
    border: 1px solid rgb(179, 89, 89);
    border-radius: 5px 0 0 5px;
    background: rgb(240, 223, 224);
    transition: background 0.25s, box-shadow 25s;
}

.text-search:focus {
    background: white;
    box-shadow: 0 0 2px rgb(189, 133, 139);
}

.color {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    max-width: fit-content;
    border: 1px solid rgb(179, 89, 89);
    border-radius: 0px;
    background: rgb(240, 223, 224);
    transition: background 0.25s, box-shadow 25s;
}

.color:hover {
    background: white;
    box-shadow: 0 0 2px rgb(189, 133, 139);
}

.search-button {
    width: 50px;
    background: rgb(179, 89, 89);
    color: white;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

.page-buttons {
    display: flex;
    position: static;
    justify-content: center;
}

.gallery-container {
    padding: 10px;
}

li {
    padding: 1.2em;
    list-style-type: none;
    grid-auto-flow: row;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.4em;
}

p {
    color: rgb(179, 89, 89);
    font-size: 0.8em;
}

.user {
    font-weight: bold;
}

.creator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    height: auto;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: flex-end;
}


/*Mobile*/

@media(max-width: 400px) {
    #pix-list {
        display: grid;
        margin: 5px;
        padding: 5px;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
}


/*tablet and small laptops*/

@media(min-width: 600px) {
    #pix-list {
        display: grid;
        margin: 5px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
}


/*Bigger devices*/

@media (min-width: 1000px) {
    #pix-list {
        display: grid;
        margin: 5px;
        padding: 10px;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
}