.header{
    text-align: center;
    color: rgb(179, 89, 89);
}

.searchbar{
    position: relative;
    display: inline-flex;
    width: 100%;
    max-width: 200px;
}

.searchbar_input{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(179, 89, 89);
    border-radius: 5px 0 0 5px;
    background: rgb(240, 223, 224);
    transition: background 0.25s, box-shadow 25s;
}

.searchbar_input:focus{
    background: white;
    box-shadow: 0 0 2px rgb(189, 133, 139);
}

.searchbar_choice{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(179, 89, 89);
    border-radius: 0px;
    background: rgb(240, 223, 224);
    transition: background 0.25s, box-shadow 25s;
}

.searchbar_button{
    width: 40px;
    background: rgb(179, 89, 89);
    color: white;
    outline: none;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

.page-buttons{
    text-align: center;
}

